<!DOCTYPE html>
<html>
<body>
<select id="myddl" name="myddl">
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="EUR">EUR</option>
</select>
<div>Time : <p id="priceDiv"> </p></div>
<div>Time : <p id="MessagesDiv"> </p></div>
	

<script src="@routes.Assets.versioned("js/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="@routes.WebSocketController.loadChatWSJs()"></script>
</body>
</html>


